%h1 You are dead

%p
  - if current_player.killed_by
    You were killed by #{current_player.killed_by.name} (level #{current_player.killed_by.level}).
  - else
    You just died for some reason.

= link_to "Restart game", controller: 'player', action: 'reset'
= link_to "High scores", controller: 'scores'
