a:hover {
  text-decoration: underline;
}
form {
  margin: 5px 0;
}

h1 {
  margin: 5px 0 10px 0;
}
h2 {
  margin: 5px 0 5px 0;
}

table {
  td + td, th + th {
    padding-left: 10px;
  }
  .number {
    text-align: right;
  }
}

button, input[type="submit"] {
  max-width: 100%;
  white-space: normal;
  font-family: $helvetica;
}
html {
  margin: 10px;
  body {
    margin: 0 auto;
  }
}
