/* styling combat logs and errors */

.logs {
  @include span-columns(3);

  margin-top: 15px;

  .combat-log, .error-log, .chat {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 0.75em;

    ul {
      @extend %default-ul;
      margin-bottom: 0;

      li {
        margin-left: -5px;
        line-height: 130%;
        font-size: 90%;

        & + li {
          margin-top: 5px;
        }
      }
    }
  }

  .combat-log {
    background: #EAE0A0;
  }

  .error-log {
    background: #F6A386;
  }

  .chat-log {
    background: #CBD3DD;
    font-size: 90%;

    .time {
      font-size: 75%;
      color: #666;
      &:before {
        content: "[";
      }
      &:after {
        content: "]";
      }
      &, &:before, &:after {
      }
    }

    li {
      &.is-entering, &.is-leaving {
        .text {
          font-style: italic;
        }
      }
      &.is-entering {
        color: $blue;
      }
      &.is-leaving {
        color: #999;
      }
    }

    .say-something {
      margin: 10px;

      input[type=text] {
        width: 75%;
      }

      input[type=submit], button {
        width: 20%;
        float: right;
        margin-top: 3px;
        padding: 0.5em 0.25em;
      }

      input, button {
        display: inline-block;
      }
    }
  }
}

.content {
  @include span-columns(9);

  .world {
    @include span-columns(7);
  }
  .actions {
    @include span-columns(5);
  }

}

