.navigation {
  background: $dark-gray;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;

  a {
    color: $light-yellow;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
  }

  li + li:before {
    content: ' - ';
  }
}

.content {
  @include span-columns(12);
  margin-bottom: 15px;

  .yield {
    @include span-columns(8);

    .character-sheet {
      @include span-columns(5);
    }
    .inventory {
      @include span-columns(7);
    }
    .world {
      @include span-columns(7);
    }
    .actions {
      @include span-columns(5);
    }
  }
  .logs {
    @include span-columns(4);
  }
}
