// Place all the styles related to the Scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controller-scores {

  .logs {
    display: none;
  }

  .content {
    @include span-columns(12);
  }

  .high-scores {
    table-layout: auto;

    .odd {
      background: darken(white, 5%);
    }

    .current-player {
      background: $light-yellow;
    }
  }

}
