.copyright
  %ul
    %li.contribute
      Contribute at
      %a.github{ :href => "https://github.com/soundasleep/rrw" } rrw

    %li.environment
      = Rails.env

    %li.git
      Running
      %a{ :href => "https://github.com/soundasleep/rrw/commit/#{ENV['GIT_SHA']} "}
        = ENV['GIT_SHA'][0..7]
