- if errors and errors.length > 0
  .error-log
    %ul
      - errors.each do |e|
        %li.error
          = e
      - clear_errors

- if combat_log and combat_log.length > 0
  .combat-log
    %ul
      - combat_log.each do |e|
        %li.log
          = e
      - clear_combat_log
